<div class="background-heading">
  Background
</div>
<div class="c">
  <div class="card">
    <img
      class="primaryimg"
      src="./assets/images/university.png"
      alt="Primary school"
    />
  </div>
</div>
<div class="t">
  <div class="text">
    <p class="primary-name">Visvesvaraya Tech. University</p>
    <p class="school-name">KLS Gogte Institute of Tech.</p>
    <p class="degree">Bachelor of Engineering, 2018 - 2022</p>
  </div>
</div>

<div class="c">
  <div class="card">
    <img
      class="primaryimg"
      src="./assets/images/secondary.png"
      alt="Primary school"
    />
  </div>
</div>
<div class="t">
  <div class="text">
    <p class="primary-name">Secondary Education (12th)</p>
    <p class="school-name">Jyoti PU College.</p>
    <p class="degree">2017 - 2018</p>
  </div>
</div>

<div class="c">
  <div class="card">
    <img
      class="primaryimg"
      src="./assets/images/school.png"
      alt="Primary school"
    />
  </div>
</div>
<div class="t">
  <div class="text">
    <p class="primary-name">Primary Eduction (10th)</p>
    <p class="school-name">ST. John School.</p>
    <p class="degree">2015 - 2016</p>
  </div>
</div>
