<div class="tester-heading" [@riseAnimation]="animationState">
    Gen C Internship</div>
<div class="tester-text" [@riseAnimation]="animationState">
    <div class="point1" [@riseAnimation]="animationState">
        Learned concepts of SDLC, Testing types, Test Cases generation, Test Plan creation, Defect lifestyle.</div>
    <div class="point2" [@riseAnimation]="animationState">
        Hands-on experience in Java, OOPS concepts, Exception Handling, Collection Frameworks.</div>
</div>
<div class="point3" [@riseAnimation]="animationState">
    Gain Knowledge on Selenium, WebDriver, Locators, POM, Action Class, Explicit and Implicit Waits, Assertions and Verifications, Parallel execution, Logging and reporting.</div>
