<div class="about-heading" [@riseAnimation]="animationState">About Sudarshan</div>
<div class="about-text" [@riseAnimation]="animationState">
    <label>
    As an accomplished professional, I bring a unique
    blend of expertise as both an Automation Tester and
    Angular Developer. With a strong foundation in
    quality assurance, I excel in designing and
    implementing automated testing solutions that
    ensure seamless software delivery. My passion for
    crafting dynamic and interactive web applications led
    me to master Angular, enabling me to build
    responsive and feature-rich interfaces that provide
    exceptional user experiences.
</label>
</div>
