<div class="tester-heading" [@riseAnimation]="animationState">
    Manual / Automation Tester</div>
<div class="tester-text" [@riseAnimation]="animationState">
    <div class="point1" [@riseAnimation]="animationState">
        Executed manual test cases for Telecom Web based application, achieving 95% accuracy rate in defect detection.</div>
    <div class="point2" [@riseAnimation]="animationState">
        Report critical defects in Jira within 24 hours of discovery, contributed to 15%-20% overall defect resolution time.</div>
    <div class="point3" [@riseAnimation]="animationState">
        Developed and maintained scalable Selenium-based test automation framework, reducing test execution time by 57%.</div>
    <div class="point4" [@riseAnimation]="animationState">
        Detected issues early in development cycle; helped reduce production defects.</div>
</div>
<div class="point5" [@riseAnimation]="animationState">
    Integrated test automation into CI/CD pipeline.</div>
