<div class="tester-heading" [@riseAnimation]="animationState">
    Angular Developer</div>
<div class="tester-text" [@riseAnimation]="animationState" >
    <div class="point1" [@riseAnimation]="animationState">
        As a skilled Angular Developer, I am committed to crafting dynamic and interactive web apps. that deliver exceptional user experience.</div>
    <div class="point2" [@riseAnimation]="animationState">
        My proficiency in Angular, coupled with expertise in HTML, CSS, and TyperScript, allows me to bring ideas to life with elegant and intuitive user interfaces.</div>
    <div class="point3" [@riseAnimation]="animationState">
        Integrating APIs and third-party services to enhance the functionality and capabilities of web apps. providing users with enhanced features and functionalities.</div>
    <div class="point4" [@riseAnimation]="animationState">
        Proficiently utilized version control systems like Git to manage code repositories and enabling efficient tracking of changes.</div>
</div>

